.job_page-container {
  margin: 3rem;
}

.back-button {
  cursor: pointer;
  font-size: 1.5rem;
  border: #3c3f3d solid;
  background-color: rgba(0, 0, 0, 0.114);
  padding: 0.5rem 1rem;
}

.notes-label {
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 1rem;
}

.notes-format {
  border: solid #3c3f3d;
  padding: 10rem;
}

.notes-submit {
  display: flex;
  cursor: not-allowed;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.114);
  border: #3c3f3d solid;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
}

.status {
  grid-area: status;
  text-align: right;
  justify-self: end;
  align-self: center;
  padding: 0.25rem;
  border: solid;
  color: white;
  border-color: #3c3f3d;
  background: #3c3f3d;
  border-radius: 0.3rem;
}
